.wp-block-thyself-posts {
	position: relative;
	margin: 1em 0;
	padding: 2em 1.5em;

	&__cover {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background-size: cover;
		transform: translate3d(0, 0, 0);
	}
	&__container {
		list-style: none !important;
		padding: 0 !important;
		word-break: break-word;
		position: relative;
		z-index: 3;
		margin: 0 !important;
	}

	li {
		background-color: #fff;
	}

	figure {
		margin: 0;
		padding: 0;
	}

	a {
		border-bottom: 0 !important;
		color: inherit !important;

		&:hover, &:focus {
			border-bottom: 2px solid currentColor !important;
		}
	}

	&__excerpt {
		margin: 1.5em 0 1.5em;
	}

	&__title {
		margin: 1.5em 0 1.5em;
	}

	&__meta {
		margin: 1em 0;
		@include media($breakpoint__md) {
			display: flex;
			justify-content: space-between;
		}
		font-size: 0.8em;
		p {
			font-size: inherit !important;
		}
		span {
			display: inline-block;
		}
		span,
		img {
			vertical-align: middle;
		}
	}

	&__read-more {
		margin: 0;
	}

	&__thumbnail img, & &__thumbnail a img {
		max-width: 100%;
		object-fit: cover;
		min-height: 100%;
	}

	&__categories a {
		font-size: 0.85em;
		letter-spacing: 2px;
		opacity: 0.75;
	}

	&__container.is-horizontal,
	&__container.is-vertical {
		display: grid !important;
		grid-gap: 25px;
		@include media($breakpoint__md) {
			&.columns-2 {
				grid-gap: 30px;
				grid-template-columns: repeat(2, 1fr);
			}

			&.columns-3 {
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;
			}

			&.columns-4 {
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 15px;
			}
		}
	}

	/**
	* Horizontal Layout.
	*/
	&__container.is-horizontal li {
		display: inline-grid;
		grid-template-columns: repeat(2, 1fr);
	}

	&__container.is-horizontal &__content {
		padding: 1em;
	}

	/**
	* Vertical Layout.
	*/
	&__container.is-vertical &__content {
		text-align: center;
		padding: 1em;
	}
}
