.wp-block-thyself-section {
	display: flex;
	flex-direction: column;
	@include media($breakpoint__md) {
		flex-direction: row;
		> div:nth-child(1) {
			width: 50%;
		}
		> div:nth-child(2) {
			width: 50%;
		}
	}

	> div {
		order: 1;
	}
	&.is-style-flip .wp-block-thyself-section__content {
		order: 2;
	}
}



.wp-block-thyself-section__content {
	padding: 10px 25px;
}

.wp-block-thyself-section__image {
	position: relative;
	background-size: cover;
	background-position: center;
	min-height: 150px;

	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		vertical-align: bottom;
	}
}
